.title{
	display:none;
}
.filterMenu{
	width:140px;
}
 .stretch{
 	flex:1 0 auto;
 }
 .leftMargin{ 
 	margin-left:16px;
 }
 .rightMargin{
 	margin-right:16px;
 }

/* Larger than phablet */
@media (min-width: 550px) {
    .title{
    	display: initial;
        margin:0 0 0 8px;
		font-family:'Roboto';
		font-weight: 300;
		font-size:26px;
    }

}
