html {
  color: #444;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
  padding: 10px;
}

pre, code {
  background-color: #fafafa;
  color: #444;
}

a {
  color: #444;
  text-decoration: none;
  font-size: 24px;
}

a:hover {
  color: #61dafb;
  text-decoration: none;
}

/* base font sizes */
/* mobile first */
p{
    margin:0;
}
ul{
     list-style:none;
}

