.tweetStreamContainer{
	
}

.keywordInput{
  margin:0 !important;
  padding-right:16px;
  display:none !important;
}
.toggle{
  align-self: center;
}

.tweetList{ 
  padding: 0 !important;
}

.tweetEnter {
  opacity: 0;
  transform: translateY(-10px);
  /*transform: scale(1, 0);*/
}

.tweetEnterActive {
  opacity: 1;
  transform: none;
  /*transform: scale(1, 1);*/
  transition: opacity,transform 100ms ease-in;
}

.tweetLeave {
  opacity: 1;
}

.tweetLeaveActive {
  opacity: 0;
  transition: opacity 100ms ease-in;
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  .keywordInput{
    display: inherit !important;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
 

}