.section{
  width:100%;
  position: relative;

  margin: 18px 0;

  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;
  /*flex-basis: 100%;*/
  align-items: center;
  flex-direction: column;
}


/* Larger than phablet */
@media (min-width: 550px) {
  .section{
    
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  .section{
    margin: 18px;
    max-width:600px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .section{
    max-width: 800px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
  .section{
    /*max-width: 1200px;*/
  }
}