.viewport{
	position: absolute;
	top:0;
	left:0;

	width: 100%;
	min-height: 100%;

	display:flex;
	flex-direction:column;

	flex:1 0 auto;

	align-items: center;
	justify-content: space-between;

	background-color: #FAFAFA;
}